<mat-card class="mat-Card-useEdit">
  Update User
  <form [formGroup]="userForm" (ngSubmit)="update()">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="first name" formControlName="first_name" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="last name" formControlName="last_name" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="avatar" formControlName="avatar" />
      </mat-form-field>
    </div>

    <div class="">
      <button class="example-button-update" mat-button color="primary">
        Update
      </button>
    </div>
  </form>
</mat-card>
